<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#hashtag_input').keyup(function(){
        $inputVal = $(this).val();
        $('#submit_button').attr('href',"/twitter/hashtags/"+$inputVal);
      });
    });
  </script>
</head>
<body>
  <div class="container">
      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Crawler results</div>
          <div class="panel-body">
            <form action="/twitter/hashtags">
              <div class="form-group">
                <label for="exampleInputEmail1">Enter hashtag</label>
                <input type="text" class="form-control" id="hashtag_input" name="hashtag" placeholder="Enter hashtag without #">
              </div>
              <a href="#" id="submit_button" class="btn btn-primary">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                Crawl
              </a>
            </form><br/>
            <p>Showing all results for the hashtag <b>#{{ hashtag }}</b></p>
          </div>
          <table class="table">
            <!-- First table row -->
            <tr>
              <th>User</th>
              <th>Tweet</th>
              <th>Hashtags</th>
              <th>Images</th>
            </tr>
            {% for item in res %}
              <!-- Second table row -->
              <tr>
                <td>
                  <h4>{{ item.user.name }} <span class="label label-info">{{ item.user.screen_name }}</span></h4>
                  <div class="col-xs-6 col-md-10">
                    <a href="http://twitter.com/{{ item.user.screen_name }}" class="thumbnail">
                      <img src="{{ item.user.profile_image_url }}" height="100" alt="Profile Image">
                    </a>
                  </div>

                  <p href="#">Followers <span class="badge">{{ item.user.followers_count }}</span></p>
                  <p href="#">Following <span class="badge">{{ item.user.friends_count }}</span></p>

                </td>
                <td>{{ item.text }}</td>
                <td>
                  {% for hash in item.hashtags %}
                    <b>#{{ hash.text }},</b>
                  {% endfor %}
                </td>
                <td>

                    <b>
                      {% for media in item.media %}
                        <img width="100" src="{{media.media_url_https}}" />
                      {% endfor %}
                    </b>

                </td>
              </tr>
            {% endfor %}
          </table>
      </div>
  </div>
</body>
</html>
