<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#hashtag_input').keyup(function(){
        $inputVal = $(this).val();
        $('#submit_button').attr('href',"/twitter/hashtags/"+$inputVal);
      });
    });
  </script>
  <style>
  .table {
    table-layout: fixed;
    word-wrap: break-word;
  }
  </style>
</head>
<body>
  <div class="container">
      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Crawler results</div>
          <div class="panel-body">
            <form action="/twitter/hashtags">
              <div class="form-group">
                <label for="exampleInputEmail1">Enter hashtag</label>
                <input type="text" class="form-control" id="hashtag_input" name="hashtag" placeholder="Enter hashtag without #">
              </div>
              <a href="#" id="submit_button" class="btn btn-primary">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                Crawl
              </a>
            </form><br/>
            <p>Showing all results for the hashtag <b>#{{ hashtag }}</b></p>
          </div>
          <table class="table">
            <!-- First table row -->
            <tr>
              <th>User</th>
              <th>Text</th>
              <th>Hashtags</th>
              <th>Images</th>
            </tr>
            {% for media in res %}
            <tr>
                <td>
                  <h4>{{ media.user.full_name }} <span class="label label-info">{{ media.user.username }}</span></h4>
                  <div class="col-xs-6 col-md-10">
                    <a href="http://instagram.com/{{ media.user.username }}" class="thumbnail">
                      <img src="{{ media.user.profile_picture }}" height="100" alt="Profile Image">
                    </a>
                  </div>
                </td>
                <td>
                  {{ media.caption.text }}
                </td>
                <td>
                  {% for tag in media.tags %}
                    #{{ tag.name }}
                  {% endfor %}
                </td>
                <td>
                <img src="{{ media.images.low_resolution.url }}" style="max-width:100%;" />
                <p href="#">Filter: <span class="badge">{{ media.filter }}</span></p>
                <p href="#">Likes:
                  <span class="badge">
                    {{ media.like_count }}
                  </span>
                </p>
                </td>
            </tr>
            {% endfor %}
            <br/>
          </table>
      </div>
  </div>
</body>
</html>
